* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 30, 30, 1);
}

.titre {
    font-family: Montserrat, Helvetica;
    text-align: center;
    margin: 3vw;
    color: bisque;
}

img {
    vertical-align: middle;
    /* order: -1; */
}


/* intercalaire, sommaire */

.page-sommaire {
    display: flex;
    width: 66vw;
    padding: 1vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.page-sommaire p {
    color: #000;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.page-sommaire p:hover {
    cursor: pointer;
    /* font-weight: bold; */
    transition: all .5s
}

.tout-page {
    /* background-color: rgb(144, 144, 144); */
    background-color: rgb(82, 149, 151);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgb(19, 19, 19);
}

.portrait-page,
.mode-page,
.artistique-page,
.paysage-page {
    background-color: rgb(144, 144, 144);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgb(19, 19, 19);
}

#bouton-tout {
    font-weight: bold;
}

.photographie-projects-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.photographie-projects-container p {
    color: #000;
}


/* containers */

.contenu-tout-projets {
    display: flex;
    margin: auto;
    background-color: rgb(5, 5, 5);
    /* background-color: rgb(72, 116, 134); */
    width: 66vw;
    padding: 4vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.contenu-portrait-projets,
.contenu-mode-projets,
.contenu-artistique-projets,
.contenu-paysage-projets {
    display: none;
    /* background-color: rgb(72, 116, 134); */
    background-color: rgb(5, 5, 5);
    width: 66vw;
    padding: 4vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}


/* Position the image container (needed to position the left and right arrows) */

.container {
    position: relative;
    margin: auto;
    width: 40vw;
    /* padding-bottom: 5vw; */
    /* height: 80vw; */
}


/* Hide the images by default */

.mySlides {
    display: none;
}

.mySlides2 {
    display: none;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Add a transparency effect for thumnbail images */


/* .demo {
    opacity: 0.6;
}


.active,
.demo:hover {
    opacity: 1;
    transition: all .5s;
} */


/* Container for image text */


/* .caption-container {
    text-align: center;
    background-color: rgb(182, 126, 126);
    padding: 0.2vw 2vw;
    color: white;
} */

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-area: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* flex-direction: row; */
    margin-top: 3vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* ANCIEN CODE */


/* .row {
    margin-top: 3vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
} */


/* Six columns side by side */


/* .column {
    display: relative;
    float: left;
    width: 23.33vw;
} */